# Default ignored files
/shelf/
/workspace.xml

# Ignore IDE settings
.idea/
venv/

# Custom files to ignore
Practice/ModuleSixAssignment.py
Practice/NameAge.py
TextBasedGame.py
scratch.py

# Ignore entire Named Directory
Numpy/
Practice/
